<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
         *{
            background-color:teal;
        }
        .content{
           
             margin-top: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 260px;

            color:white;
            
        }
        button{
            border:none;
            padding: 6px 8px 6px 8px;
            color:white;
            background-color:  rgb(237, 125, 162);
            border-radius: 10%;
            background-color: black;
        }
       
    </style>
    <title>done</title>
</head>
<body>
    <div class="content">
         <h1>Done your edited press button to go your profile</h1>
    <form action="/login" method="get">
        <button>DONE</button>
    </form>
    </div>
   
</body>
</html>