<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        h3{
            margin-bottom: 15px;
        }
        button{
            margin-top: 60px;
            border:none;
            padding: 8px 12px 8px 12px;
            color: aquamarine;
            background-color: teal;
            border-radius: 10%;
        }
        .main{
            display: flex;
            width:400px;
            height: 600px;
            align-items: top; 
            justify-content: center; 
            padding-top: 100px; 
            background-color: rgba(109, 226, 187, 0.992); 
           
           border-radius:   0 0 18% 18%  ;
           box-shadow: 0 0 25px 2px  rgba(109, 226, 187, 0.992);
        }
        .btn{
            display: flex; 
            align-items: center; 
            justify-content: center;
        }
        input{
          border-style: none;
          background-color: transparent;
         height: 18px;
        border-bottom: 1px solid black;
        outline-style: none;
        }
        .pic1{
            width: 50vw;
            height: 50vw;
        }
        .container{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
       
    </style>
</head>
<body>
    <div class="container">
    <img class="pic1" src="https://img.freepik.com/free-vector/coding-concept-illustration_114360-939.jpg?w=740&t=st=1724357748~exp=1724358348~hmac=3656de4431896afc49697266269dabd7bc0661ce778d096d5bca3caf2fa0244b" alt="images">
    
    <div class="main">
    <form method="post" action="/?_method=PATCH" style="display: flex; flex-direction:column; height: 300px; margin-top: 100px;">
<h3>Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <input type="text" name="mail" placeholder="shashikant@gmail.com"></h3>
<h3>password:&nbsp;<input type="password" name="password" placeholder="3sgvhbaj"></h3>
<h3>name:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <input type="text" name="username" placeholder="shashikant"></h3>
<h3>id: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp; &nbsp; <input type="text" name="id" placeholder="@shashi12"></h3>
<div class="btn" >
  <button> sign-up</button>  
</div>

    </form>
</div>
</div>
   
    
    
</body>
</html>