<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <style>
       
        *{
            background-color: red;
           
        }
        .head{
            justify-content: center;
            align-items: center;
            color: white;
            display: flex;
        }
        .head h1{
            align-items: center;
            justify-content: center;
        }
    </style>
    <title>wrong pass</title>

   
</head>
<body>
    <div class="head">
          <h1>Wrong password try again:</h1>
    </div>
  
    
</body>
</html>